// Color very reduced

// Utility Color Classes

//.success {
//
//}

// Google Color Palette defined: http://www.google.com/design/spec/style/color.html



$blue: (
        "lighten-5":  #E3F2FD,
        "lighten-4":  #BBDEFB,
        "lighten-3":  #90CAF9,
        "lighten-2":  #64B5F6,
        "lighten-1":  #42A5F5,
        "base":       #2196F3,
        "darken-1":   #1E88E5,
        "darken-2":   #1976D2,
        "darken-3":   #1565C0,
        "darken-4":   #0D47A1,
        "accent-1":    #82B1FF,
        "accent-2":    #448AFF,
        "accent-3":    #2979FF,
        "accent-4":    #2962FF
);

$light-blue: (
        "lighten-5":  #e1f5fe,
        "lighten-4":  #b3e5fc,
        "lighten-3":  #81d4fa,
        "lighten-2":  #4fc3f7,
        "lighten-1":  #29b6f6,
        "base":       #03a9f4,
        "darken-1":   #039be5,
        "darken-2":   #0288d1,
        "darken-3":   #0277bd,
        "darken-4":   #01579b,
        "accent-1":    #80d8ff,
        "accent-2":    #40c4ff,
        "accent-3":    #00b0ff,
        "accent-4":    #0091ea
);


$amber: (
        "lighten-5":  #fff8e1,
        "lighten-4":  #ffecb3,
        "lighten-3":  #ffe082,
        "lighten-2":  #ffd54f,
        "lighten-1":  #ffca28,
        "base":       #ffc107,
        "darken-1":   #ffb300,
        "darken-2":   #ffa000,
        "darken-3":   #ff8f00,
        "darken-4":   #ff6f00,
        "accent-1":    #ffe57f,
        "accent-2":    #ffd740,
        "accent-3":    #ffc400,
        "accent-4":    #ffab00
);

$orange: (
        "lighten-5":  #fff3e0,
        "lighten-4":  #ffe0b2,
        "lighten-3":  #ffcc80,
        "lighten-2":  #ffb74d,
        "lighten-1":  #ffa726,
        "base":       #ff9800,
        "darken-1":   #fb8c00,
        "darken-2":   #f57c00,
        "darken-3":   #ef6c00,
        "darken-4":   #e65100,
        "accent-1":    #ffd180,
        "accent-2":    #ffab40,
        "accent-3":    #ff9100,
        "accent-4":    #ff6d00
);

$deep-orange: (
        "lighten-5":  #fbe9e7,
        "lighten-4":  #ffccbc,
        "lighten-3":  #ffab91,
        "lighten-2":  #ff8a65,
        "lighten-1":  #ff7043,
        "base":       #ff5722,
        "darken-1":   #f4511e,
        "darken-2":   #e64a19,
        "darken-3":   #d84315,
        "darken-4":   #bf360c,
        "accent-1":    #ff9e80,
        "accent-2":    #ff6e40,
        "accent-3":    #ff3d00,
        "accent-4":    #dd2c00
);

$grey: (
        "lighten-5":  #fafafa,
        "lighten-4":  #f5f5f5,
        "lighten-3":  #eeeeee,
        "lighten-2":  #e0e0e0,
        "lighten-1":  #bdbdbd,
        "base":       #9e9e9e,
        "darken-1":   #757575,
        "darken-2":   #616161,
        "darken-3":   #424242,
        "darken-4":   #212121
);

$shades: (
        "black":        #000000,
        "white":        #FFFFFF,
        "transparent":  transparent
);

$colors: (
        "blue": $blue,
        "light-blue": $light-blue,
        "amber": $amber,
        "orange": $orange,
        "deep-orange": $deep-orange,
        "grey": $grey,
        "shades": $shades
);


// Color Classes

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}


// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}
