@import "color";

//
/*** Colors ***/


$primary-color: color("amber", "lighten-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("light-blue", "lighten-1") !default;
$secondary-color-hover: color("blue", "darken-3") !default;
$success-color: color("deep-orange", "base") !default;
$error-color: color("blue", "base") !default;
$link-color: color("light-blue", "darken-1") !default;


$bgcolor-blue: color("light-blue", "darken-3") !default;


body {
  background: lightcyan;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

.clear{
  clear: both;
}


// background picture in a ribbon
.ribbon{
  background-image: url('../pictures/bg_artfood_1500.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 290px;
}

.supercontainer{
  margin:  auto;
  margin-top: -210px;
  max-width: 1000px;
}


// resets
.container{
  width:100%!important;
  padding: 0;
}

.container .row{
  margin-left: 0;
  margin-right: 0;
}


.userForm input.ng-invalid.ng-touched {
  background-color: #ffc2b8;
}

.userForm input.ng-valid.ng-touched {
  border: 1px solid #0b4730;
}
// test colors
.loginForm {
  //background-color: blueviolet;
}

.user-details {
  //background-color: #0b97c4;
}

.registerForm {
  //background-color: bisque;
}

.searchForm {
  //background-color: #ffcdd2;
}

.searchResultlist {
  //background-color: #B94A48;
}

.menu {
  background-color: #8a6343;
}

.listRecipeRatings {
  //background-color: chartreuse;
}


// ------------------- Login Screen

/*
.outer-wrapper{
  position: absolute;
  //background-image: url('');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  // temporary
  min-height: 800px;
}
*/


.fb-layout{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: #FFFFFF;
}




// login Form Card
#loginForm{

  input{
    width: 60%;
  }
}

// register Form Card
#registerForm{

  input{
    width: 60%;
  }

}
/* ----------------VIEW Search Recipe -----*/


.searchRecipe{

}

#recipeSearchInput{
  width: 70%;
}

.foodcategory ul{
  padding-left: 1rem;
  padding-right: 1rem;
}
.foodcategory li{
  display: inline;
  padding-right: 1.5rem;
}


.find-recipe{

}



/*details*/


.fb-layout-detail{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}



/*------------ Recipe detail - add & edit ----------------*/

.editRecipe{
  background: #FFF;
  font-size: 1rem;
  .title-bg{
    background: $bgcolor-blue;
    color: #FFF;
    height: 150px;
    width: 100%;
    h3{
      font-weight: 100;
      color: #81d4fa;
    }

  }
  button{
    background: $secondary-color;
  }
  button:hover{
    background: $secondary-color-hover;
  }

  .btn{
    background: $secondary-color;
  }
  .btn:hover{
    background: $secondary-color-hover;
  }
  .btn.disabled{
    background: #F3F3F3;
  }
}

.pixupload{
  //border:  1px solid #aa3333;
  padding: 1rem;
  button{
    margin-left: 1rem;
  }
}

.recipe-img{
  max-width: 220px;
  height: auto;
}

.recipe-name{
  //border: 1px dashed #a44;
  margin-left: 1rem;

}
.form-title{
  color: $secondary-color-hover;
}

.recipe-form{
  //border: 1px solid  #aa3333;
  padding: 1rem;
  label:focus{
    color: $secondary-color-hover;
  }
}


.ingredient-count{
  max-width: 100px;
}

.ingredient-kind{
  max-width: 90%;
}


//rating

.star-rating{
  display: inline;
  i{
    padding-left: 15px;
  }
}

.table-ingredients{
  // Anzahl
  td:nth-child(1){
    width: 15%;
  }
  // Eiheit
  td:nth-child(2){
    width: 20%;
  }
  // Zutat
  td:nth-child(3){
    width: 57%;
  }
  // Entfernen
  td:nth-child(4){
    width: 7%;
    color: $primary-color;
  }

}

/*------------ Recipe detail - view -------------------*/


.viewrecipe{
  background: #0b97c4;
}



/*--------------------- user-details ---------------*/

.user-details{
  background: #FFF;
}


/*---------------Search result List -----------------*/

.searchResultlist{
  //background: ;
  // search Result
  .resulttable{
    width: 100%;
    tr{
      border-top: 1px solid #CCC;
    }
    td:nth-child(1){
      width: 20%;
    }
    td:nth-child(2){
      width: 50%;
    }
    td:nth-child(3){
      width: 15%;
    }
    td:nth-child(4) {
      width: 15%;
    }
    img{
      max-width: 60px;
      height: auto;
    }

  }

}