@import "color";

//
/*** Colors ***/
$primary-color: color("amber", "lighten-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("light-blue", "lighten-1") !default;
$secondary-color-hover: color("blue", "darken-3") !default;
$success-color: color("deep-orange", "base") !default;

$error-color: color("deep-orange", "darken-4") !default;
$link-color: color("light-blue", "darken-1") !default;

$bgcolor-blue: color("light-blue", "darken-3") !default;


body {
  background: lightcyan;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}

.clear{
  clear: both;
}


// resets
.container{
  width:100%;
  padding: 0;
}

.container .row{
  margin-left: 0;
  margin-right: 0;
}

.small{
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}

// fb-menu top

.nav-wrapper{
  background: $bgcolor-blue;
}

.fb-title{
  padding-left: 15px;
  font-size: 1.6rem;
}

.userlogedin{
  background: $secondary-color;
}

// background picture in a ribbon
.ribbon{
  background-image: url('../pictures/bg_artfood_1500.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 290px;
}

.supercontainer{
  margin:  auto;
  margin-top: -210px;
  min-width: 767px;
  max-width: 1100px;
}

// Feedback window messages
.feedback-window{
  position: absolute;
  top: 25px;
  z-index: 20;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background: rgba(250,250,250,0.2);
  padding: 10px;
  &.info{
    color: $bgcolor-blue;
    background: #FFF;
  }
  &.warn{
    color:#999;
    background: rgb(250, 255, 189);
  }
  &.error{
    color: $error-color;
    background: #222;
  }

  p{
    //border: 1px dotted #999;
    text-align: center;
    font-size: 1.5rem;
    //border-radius: 5px;
  }
}



// login

.userForm input.ng-invalid.ng-touched {
  background-color: #ffc2b8;
}

.userForm input.ng-valid.ng-touched {
  border: 1px solid #0b4730;
}
// test colors
.loginForm {
  //background-color: blueviolet;
}

.user-details {
  //background-color: #0b97c4;
}

.registerForm {
  //background-color: bisque;
}

.searchForm {
  //background-color: #ffcdd2;
}

.searchResultlist {
  //background-color: #B94A48;
}

.menu {
  background-color: #8a6343;
}

.listRecipeRatings {
  //background-color: chartreuse;
}


// ------------------- Login Screen


.fb-layout{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: #FFFFFF;
}


// login Form Card
#loginForm{
  input{
    width: 60%;
  }
}

// register Form Card
#registerForm{
  input{
    width: 60%;
  }

}


/* ----------------VIEW Search Recipe -----*/

.searchRecipe{
  background: #F2F2F2;
  .title-bg{
    background: $bgcolor-blue;
    color: #FFF;
    height: 150px;
    width: 100%;
    h3{
      font-weight: 100;
      color: #81d4fa;
    }
  }
}
#searchbox{
  margin-left: 0.75rem !important; ;
}

.searchplus{
  padding: 1rem;
  min-height:20rem;
}


#recipeSearchInput{
  width: 55%;
}

.foodcategory ul{
  padding-left: 2rem;
  padding-right: 1rem;
}
.foodcategory li{
  display: block;
  padding-right: 1.5rem;
}


.find-recipe{

}


/*details*/


.fb-layout-detail{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}



/*------------ Recipe detail - add & edit ----------------*/

.editRecipe{
  background: #FFF;
  font-size: 1rem;
  .title-bg{
    background: $bgcolor-blue;
    color: #FFF;
    height: 150px;
    width: 100%;
    h3{
      font-weight: 100;
      color: #81d4fa;
    }
  }
  button{
    background: $secondary-color;
  }
  button:hover{
    background: $secondary-color-hover;
  }
  .input-field label{
    position: absolute;
    top:-0.3rem;
  }
  .btn{
    background: $secondary-color;
  }
  .btn:hover{
    background: $secondary-color-hover;
  }
  .btn.disabled{
    background: #F3F3F3;
  }
  .error{
    color: $primary-color-dark;
  }
}

.pixupload{
  padding: 1rem;
  button{
    margin-left: 1rem;
  }
}
.img-chooser{
  border: 1px solid #AA3333;
  background: $secondary-color;
}

.recipe-img{
  max-width: 220px;
  height: auto;
}


.recipe-img-slider{
  max-width: 100%;
  height: auto;
}

.img-caption{
  z-index: 50;
  background: rgba(22, 22, 22, 0.3);
  color: $primary-color;
}

.recipe-name{
  //border: 1px dashed #a44;
  margin-left: 1rem;

}
.form-title{
  color: $secondary-color-hover;
}

.recipe-form{
  //border: 1px solid  #aa3333;
  padding: 1rem;
  label:focus{
    color: $secondary-color-hover;
  }
}


.ingredient-count{
  max-width: 100px;
}

.ingredient-kind{
  max-width: 90%;
}



.table-ingredients{
  //generell
  td{
    padding: 0 7px 0 7px;
  }

  // Anzahl
  td:nth-child(1){
    width: 15%;
  }
  // Eiheit
  td:nth-child(2){
    width: 25%;
  }
  // Zutat
  td:nth-child(3){
    width: 55%;
  }
  // Entfernen
  td:nth-child(4){
    width: 5%;
    color: $secondary-color;
  }

}


/*------------ Recipe detail - view -------------------*/


.viewrecipe{
  background: #FFF;
  .title-bg {
    background: $bgcolor-blue;
    color: #FFF;
    height: 150px;
    width: 100%;
    h3 {
      font-weight: 100;
      color: #81d4fa;
    }
    .input-field label{
      position: absolute;
      top:0.1rem;

    }
  }
  .card{
    padding:0;
  }
  .card-title{
    padding: 15px;
  }
  .card-content{
    line-height: 34px;
  }
}

.swiper-container {
  width: 400px;
  height: 300px;
}



/*--------------------- user-details ---------------*/

.user-details{
  background: #FFF;
}


/*---------------Search result List -----------------*/

.searchResultlist{
  //background: ;
  // search Result
  .resulttable{
    width: 100%;
    tr{
      border-top: 1px solid #CCC;
    }
    td:nth-child(1){
      width: 20%;
    }
    td:nth-child(2){
      width: 50%;
    }
    td:nth-child(3){
      width: 15%;
    }
    td:nth-child(4) {
      width: 15%;
    }
    img{
      max-width: 60px;
      height: auto;
    }

  }

}

/*------------ Recipe rating    ----------------*/

.addeditRecipeRating{
  border-top: 1px solid #222;
  //border-top: 1px solid $primary-color;
  padding-top: 20px;
  border-bottom: 1px solid #CCC;
  textarea{
    height: 5rem ;
  }
}
.star-rating{
  display: inline;
  i{
    padding-left: 15px;
  }
}

.range-field{
 //font-size: 1.2rem;

  label{
    padding: 5px;
    font-size: 1.3rem;
  }
}

.thumb{
  background: $success-color;
  margin-left: 16px!important;
  padding: 8px;
  border-radius:50%;
  color: white;
  font-size: 1.3rem;
}