.blue.lighten-5 {
  background-color: #E3F2FD !important; }

.blue-text.text-lighten-5 {
  color: #E3F2FD !important; }

.blue.lighten-4 {
  background-color: #BBDEFB !important; }

.blue-text.text-lighten-4 {
  color: #BBDEFB !important; }

.blue.lighten-3 {
  background-color: #90CAF9 !important; }

.blue-text.text-lighten-3 {
  color: #90CAF9 !important; }

.blue.lighten-2 {
  background-color: #64B5F6 !important; }

.blue-text.text-lighten-2 {
  color: #64B5F6 !important; }

.blue.lighten-1 {
  background-color: #42A5F5 !important; }

.blue-text.text-lighten-1 {
  color: #42A5F5 !important; }

.blue {
  background-color: #2196F3 !important; }

.blue-text {
  color: #2196F3 !important; }

.blue.darken-1 {
  background-color: #1E88E5 !important; }

.blue-text.text-darken-1 {
  color: #1E88E5 !important; }

.blue.darken-2 {
  background-color: #1976D2 !important; }

.blue-text.text-darken-2 {
  color: #1976D2 !important; }

.blue.darken-3 {
  background-color: #1565C0 !important; }

.blue-text.text-darken-3 {
  color: #1565C0 !important; }

.blue.darken-4 {
  background-color: #0D47A1 !important; }

.blue-text.text-darken-4 {
  color: #0D47A1 !important; }

.blue.accent-1 {
  background-color: #82B1FF !important; }

.blue-text.text-accent-1 {
  color: #82B1FF !important; }

.blue.accent-2 {
  background-color: #448AFF !important; }

.blue-text.text-accent-2 {
  color: #448AFF !important; }

.blue.accent-3 {
  background-color: #2979FF !important; }

.blue-text.text-accent-3 {
  color: #2979FF !important; }

.blue.accent-4 {
  background-color: #2962FF !important; }

.blue-text.text-accent-4 {
  color: #2962FF !important; }

.light-blue.lighten-5 {
  background-color: #e1f5fe !important; }

.light-blue-text.text-lighten-5 {
  color: #e1f5fe !important; }

.light-blue.lighten-4 {
  background-color: #b3e5fc !important; }

.light-blue-text.text-lighten-4 {
  color: #b3e5fc !important; }

.light-blue.lighten-3 {
  background-color: #81d4fa !important; }

.light-blue-text.text-lighten-3 {
  color: #81d4fa !important; }

.light-blue.lighten-2 {
  background-color: #4fc3f7 !important; }

.light-blue-text.text-lighten-2 {
  color: #4fc3f7 !important; }

.light-blue.lighten-1 {
  background-color: #29b6f6 !important; }

.light-blue-text.text-lighten-1 {
  color: #29b6f6 !important; }

.light-blue {
  background-color: #03a9f4 !important; }

.light-blue-text {
  color: #03a9f4 !important; }

.light-blue.darken-1 {
  background-color: #039be5 !important; }

.light-blue-text.text-darken-1 {
  color: #039be5 !important; }

.light-blue.darken-2 {
  background-color: #0288d1 !important; }

.light-blue-text.text-darken-2 {
  color: #0288d1 !important; }

.light-blue.darken-3 {
  background-color: #0277bd !important; }

.light-blue-text.text-darken-3 {
  color: #0277bd !important; }

.light-blue.darken-4 {
  background-color: #01579b !important; }

.light-blue-text.text-darken-4 {
  color: #01579b !important; }

.light-blue.accent-1 {
  background-color: #80d8ff !important; }

.light-blue-text.text-accent-1 {
  color: #80d8ff !important; }

.light-blue.accent-2 {
  background-color: #40c4ff !important; }

.light-blue-text.text-accent-2 {
  color: #40c4ff !important; }

.light-blue.accent-3 {
  background-color: #00b0ff !important; }

.light-blue-text.text-accent-3 {
  color: #00b0ff !important; }

.light-blue.accent-4 {
  background-color: #0091ea !important; }

.light-blue-text.text-accent-4 {
  color: #0091ea !important; }

.amber.lighten-5 {
  background-color: #fff8e1 !important; }

.amber-text.text-lighten-5 {
  color: #fff8e1 !important; }

.amber.lighten-4 {
  background-color: #ffecb3 !important; }

.amber-text.text-lighten-4 {
  color: #ffecb3 !important; }

.amber.lighten-3 {
  background-color: #ffe082 !important; }

.amber-text.text-lighten-3 {
  color: #ffe082 !important; }

.amber.lighten-2 {
  background-color: #ffd54f !important; }

.amber-text.text-lighten-2 {
  color: #ffd54f !important; }

.amber.lighten-1 {
  background-color: #ffca28 !important; }

.amber-text.text-lighten-1 {
  color: #ffca28 !important; }

.amber {
  background-color: #ffc107 !important; }

.amber-text {
  color: #ffc107 !important; }

.amber.darken-1 {
  background-color: #ffb300 !important; }

.amber-text.text-darken-1 {
  color: #ffb300 !important; }

.amber.darken-2 {
  background-color: #ffa000 !important; }

.amber-text.text-darken-2 {
  color: #ffa000 !important; }

.amber.darken-3 {
  background-color: #ff8f00 !important; }

.amber-text.text-darken-3 {
  color: #ff8f00 !important; }

.amber.darken-4 {
  background-color: #ff6f00 !important; }

.amber-text.text-darken-4 {
  color: #ff6f00 !important; }

.amber.accent-1 {
  background-color: #ffe57f !important; }

.amber-text.text-accent-1 {
  color: #ffe57f !important; }

.amber.accent-2 {
  background-color: #ffd740 !important; }

.amber-text.text-accent-2 {
  color: #ffd740 !important; }

.amber.accent-3 {
  background-color: #ffc400 !important; }

.amber-text.text-accent-3 {
  color: #ffc400 !important; }

.amber.accent-4 {
  background-color: #ffab00 !important; }

.amber-text.text-accent-4 {
  color: #ffab00 !important; }

.orange.lighten-5 {
  background-color: #fff3e0 !important; }

.orange-text.text-lighten-5 {
  color: #fff3e0 !important; }

.orange.lighten-4 {
  background-color: #ffe0b2 !important; }

.orange-text.text-lighten-4 {
  color: #ffe0b2 !important; }

.orange.lighten-3 {
  background-color: #ffcc80 !important; }

.orange-text.text-lighten-3 {
  color: #ffcc80 !important; }

.orange.lighten-2 {
  background-color: #ffb74d !important; }

.orange-text.text-lighten-2 {
  color: #ffb74d !important; }

.orange.lighten-1 {
  background-color: #ffa726 !important; }

.orange-text.text-lighten-1 {
  color: #ffa726 !important; }

.orange {
  background-color: #ff9800 !important; }

.orange-text {
  color: #ff9800 !important; }

.orange.darken-1 {
  background-color: #fb8c00 !important; }

.orange-text.text-darken-1 {
  color: #fb8c00 !important; }

.orange.darken-2 {
  background-color: #f57c00 !important; }

.orange-text.text-darken-2 {
  color: #f57c00 !important; }

.orange.darken-3 {
  background-color: #ef6c00 !important; }

.orange-text.text-darken-3 {
  color: #ef6c00 !important; }

.orange.darken-4 {
  background-color: #e65100 !important; }

.orange-text.text-darken-4 {
  color: #e65100 !important; }

.orange.accent-1 {
  background-color: #ffd180 !important; }

.orange-text.text-accent-1 {
  color: #ffd180 !important; }

.orange.accent-2 {
  background-color: #ffab40 !important; }

.orange-text.text-accent-2 {
  color: #ffab40 !important; }

.orange.accent-3 {
  background-color: #ff9100 !important; }

.orange-text.text-accent-3 {
  color: #ff9100 !important; }

.orange.accent-4 {
  background-color: #ff6d00 !important; }

.orange-text.text-accent-4 {
  color: #ff6d00 !important; }

.deep-orange.lighten-5 {
  background-color: #fbe9e7 !important; }

.deep-orange-text.text-lighten-5 {
  color: #fbe9e7 !important; }

.deep-orange.lighten-4 {
  background-color: #ffccbc !important; }

.deep-orange-text.text-lighten-4 {
  color: #ffccbc !important; }

.deep-orange.lighten-3 {
  background-color: #ffab91 !important; }

.deep-orange-text.text-lighten-3 {
  color: #ffab91 !important; }

.deep-orange.lighten-2 {
  background-color: #ff8a65 !important; }

.deep-orange-text.text-lighten-2 {
  color: #ff8a65 !important; }

.deep-orange.lighten-1 {
  background-color: #ff7043 !important; }

.deep-orange-text.text-lighten-1 {
  color: #ff7043 !important; }

.deep-orange {
  background-color: #ff5722 !important; }

.deep-orange-text {
  color: #ff5722 !important; }

.deep-orange.darken-1 {
  background-color: #f4511e !important; }

.deep-orange-text.text-darken-1 {
  color: #f4511e !important; }

.deep-orange.darken-2 {
  background-color: #e64a19 !important; }

.deep-orange-text.text-darken-2 {
  color: #e64a19 !important; }

.deep-orange.darken-3 {
  background-color: #d84315 !important; }

.deep-orange-text.text-darken-3 {
  color: #d84315 !important; }

.deep-orange.darken-4 {
  background-color: #bf360c !important; }

.deep-orange-text.text-darken-4 {
  color: #bf360c !important; }

.deep-orange.accent-1 {
  background-color: #ff9e80 !important; }

.deep-orange-text.text-accent-1 {
  color: #ff9e80 !important; }

.deep-orange.accent-2 {
  background-color: #ff6e40 !important; }

.deep-orange-text.text-accent-2 {
  color: #ff6e40 !important; }

.deep-orange.accent-3 {
  background-color: #ff3d00 !important; }

.deep-orange-text.text-accent-3 {
  color: #ff3d00 !important; }

.deep-orange.accent-4 {
  background-color: #dd2c00 !important; }

.deep-orange-text.text-accent-4 {
  color: #dd2c00 !important; }

.grey.lighten-5 {
  background-color: #fafafa !important; }

.grey-text.text-lighten-5 {
  color: #fafafa !important; }

.grey.lighten-4 {
  background-color: #f5f5f5 !important; }

.grey-text.text-lighten-4 {
  color: #f5f5f5 !important; }

.grey.lighten-3 {
  background-color: #eeeeee !important; }

.grey-text.text-lighten-3 {
  color: #eeeeee !important; }

.grey.lighten-2 {
  background-color: #e0e0e0 !important; }

.grey-text.text-lighten-2 {
  color: #e0e0e0 !important; }

.grey.lighten-1 {
  background-color: #bdbdbd !important; }

.grey-text.text-lighten-1 {
  color: #bdbdbd !important; }

.grey {
  background-color: #9e9e9e !important; }

.grey-text {
  color: #9e9e9e !important; }

.grey.darken-1 {
  background-color: #757575 !important; }

.grey-text.text-darken-1 {
  color: #757575 !important; }

.grey.darken-2 {
  background-color: #616161 !important; }

.grey-text.text-darken-2 {
  color: #616161 !important; }

.grey.darken-3 {
  background-color: #424242 !important; }

.grey-text.text-darken-3 {
  color: #424242 !important; }

.grey.darken-4 {
  background-color: #212121 !important; }

.grey-text.text-darken-4 {
  color: #212121 !important; }

.shades.black {
  background-color: #000000 !important; }

.shades-text.text-black {
  color: #000000 !important; }

.shades.white {
  background-color: #FFFFFF !important; }

.shades-text.text-white {
  color: #FFFFFF !important; }

.shades.transparent {
  background-color: transparent !important; }

.shades-text.text-transparent {
  color: transparent !important; }

.black {
  background-color: #000000 !important; }

.black-text {
  color: #000000 !important; }

.white {
  background-color: #FFFFFF !important; }

.white-text {
  color: #FFFFFF !important; }

.transparent {
  background-color: transparent !important; }

.transparent-text {
  color: transparent !important; }

/*** Colors ***/
body {
  background: lightcyan;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300; }
  body h2 {
    color: #44AA44;
    background: #004444;
    font-size: 2.1rem;
    line-height: 2.2rem; }
  body h3 {
    color: #29b6f6;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.7rem; }
  body h4 {
    color: #0D47A1;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    line-height: 16px; }
  body p {
    font-size: 1.3rem;
    line-height: 1.4rem; }
  body textarea {
    color: #29b6f6;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    line-height: 1.2rem; }
  body select {
    border: 1px solid #888;
    background: #f1fafa; }

.clear {
  clear: both; }

.container {
  width: 100%;
  padding: 0; }

.container .row {
  margin-left: 0;
  margin-right: 0; }

.small {
  font-size: 16px;
  font-weight: 300;
  line-height: 21px; }

.card-title {
  padding-left: 1rem;
  text-align: center; }

.nav-wrapper {
  background: #0277bd; }
  .nav-wrapper a:focus {
    background: #07285a;
    border: 1px solid white; }

.fb-title {
  padding-left: 15px;
  font-size: 1.6rem; }

.userlogedin {
  background: #29b6f6; }

.ribbon {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 290px; }

.supercontainer {
  margin: auto;
  margin-top: -210px;
  min-width: 560px;
  max-width: 1100px; }

.feedback-window {
  position: absolute;
  top: 25px;
  z-index: 20;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background: rgba(250, 250, 250, 0.2);
  padding: 10px; }
  .feedback-window.info {
    color: #0277bd;
    background: #FFF; }
  .feedback-window.warn {
    color: #999;
    background: #faffbd; }
  .feedback-window.error {
    color: #bf360c;
    background: #222; }
  .feedback-window p {
    text-align: center;
    font-size: 1.5rem; }

.userForm input.ng-invalid.ng-touched {
  background-color: #e0e0e0; }

.userForm input.ng-valid.ng-touched {
  border: 1px solid #0b4730; }

.menu {
  background-color: #8a6343; }

.fb-layout {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: #FFFFFF; }

#loginForm input {
  width: 60%; }

#loginForm .input-field label {
  color: #777; }
  #loginForm .input-field label.active {
    font-size: 1.2rem;
    color: #dd2c00; }

#loginForm #registerForm {
  background: #039be5; }
  #loginForm #registerForm .input-field label {
    color: #004444; }
    #loginForm #registerForm .input-field label.active {
      font-size: 1.3rem;
      -webkit-transform: translateY(250%) !important;
          -ms-transform: translateY(250%) !important;
              transform: translateY(250%) !important;
      color: #44AA44; }

/* ----------------VIEW Search Recipe ----------------*/
.searchRecipe {
  background: #F2F2F2; }
  .searchRecipe .title-bg {
    background: #0277bd;
    color: #FFF;
    height: 150px;
    width: 100%; }
    .searchRecipe .title-bg h3 {
      font-weight: 100;
      color: #81d4fa; }

.resulttable th {
  cursor: pointer; }

#searchbox {
  min-width: 63%;
  min-height: 50%; }

.searchplus {
  padding: 1rem;
  min-height: 20rem; }

#recipeSearchInput {
  width: 93%; }

.input-field label {
  color: #555; }
  .input-field label.active {
    -webkit-transform: translateX(100%) !important;
        -ms-transform: translateX(100%) !important;
            transform: translateX(100%) !important;
    -webkit-transform: translateY(-80%) !important;
        -ms-transform: translateY(-80%) !important;
            transform: translateY(-80%) !important;
    color: #d84315 !important; }

.foodcategory ul {
  padding-left: 2rem;
  padding-right: 1rem; }

.foodcategory li {
  display: block;
  padding-right: 1.5rem; }

/*details*/
.fb-layout-detail {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }

/*------------ Recipe detail - add & edit ----------------*/
.editRecipe {
  background: #FaFaFa; }
  .editRecipe .title-bg {
    background: #0277bd;
    color: #FFF;
    height: 120px;
    width: 100%; }
    .editRecipe .title-bg h3 {
      font-weight: 100;
      color: #81d4fa; }
    .editRecipe .title-bg .ingredient-label .active {
      color: #F44; }
  .editRecipe button {
    background: #29b6f6; }
  .editRecipe button:hover {
    background: #d84315; }
  .editRecipe .input-field label {
    position: absolute;
    top: -0.3rem; }
    .editRecipe .input-field label.active {
      font-size: 1.3rem;
      -webkit-transform: translateY(-150%), translateX(40%) !important;
          -ms-transform: translateY(-150%), translateX(40%) !important;
              transform: translateY(-150%), translateX(40%) !important;
      color: #d84315; }
  .editRecipe .btn {
    background: #29b6f6; }
  .editRecipe .btn:hover {
    background: #d84315; }
  .editRecipe .btn .disabled {
    background: #F3F3F3; }
  .editRecipe .btn:focus {
    border: 1px solid #d84315; }
  .editRecipe .cancel {
    margin-right: 1.4rem; }
  .editRecipe .error {
    color: #07285a; }
  .editRecipe a:focus {
    border: 1px solid #d84315; }

.pixupload {
  padding: 1rem; }
  .pixupload button {
    margin-left: 1rem; }

.img-chooser {
  border: 1px solid #AA3333;
  background: #29b6f6; }

.recipe-img {
  max-width: 220px;
  height: auto; }

.recipe-img-slider {
  max-width: 100%;
  height: auto; }

.img-caption {
  z-index: 50;
  background: rgba(22, 22, 22, 0.3);
  color: #0D47A1; }

.recipe-name {
  margin-left: 1rem; }

.form-title {
  color: #29b6f6; }

.recipe-form {
  padding: 1rem; }
  .recipe-form label:focus {
    color: #1565C0; }

.ingredient-count {
  max-width: 100px; }

.ingredient-kind {
  max-width: 90%; }

.table-ingredients td {
  padding: 0 7px 0 7px; }

.table-ingredients td:nth-child(1) {
  width: 15%; }

.table-ingredients td:nth-child(2) {
  width: 25%; }

.table-ingredients td:nth-child(3) {
  width: 55%; }

.table-ingredients td:nth-child(4) {
  width: 5%;
  color: #29b6f6; }

.del-ingredient {
  font-size: 1.6rem;
  color: #CC2222;
  vertical-align: bottom; }

/*------------ Recipe detail - view -------------------*/
.viewrecipe {
  background: #FaFaFa; }
  .viewrecipe .title-bg {
    background: #0277bd;
    color: #FFF;
    height: 150px;
    width: 100%; }
    .viewrecipe .title-bg h3 {
      font-weight: 100;
      color: #81d4fa; }
    .viewrecipe .title-bg .input-field label {
      position: absolute;
      top: 0.1rem; }
  .viewrecipe .margin-left {
    margin-left: 1rem; }
  .viewrecipe .card {
    padding: 0; }
  .viewrecipe .card-title {
    padding: 15px; }
  .viewrecipe .card-content {
    line-height: 34px; }

.swiper-container {
  width: 400px;
  height: 300px; }

/*--------------------- user-details ---------------*/
.user-details {
  background: #FFF; }
  .user-details .read-only {
    color: #666; }
  .user-details .editable {
    color: #0277bd; }

/*---------------Search result List -----------------*/
.searchResultlist .resulttable {
  margin: 0 auto;
  width: 90%; }
  .searchResultlist .resulttable tr {
    border-top: 1px solid #CCC; }
  .searchResultlist .resulttable td:nth-child(1) {
    width: 25%; }
  .searchResultlist .resulttable td:nth-child(2) {
    width: 30%; }
    .searchResultlist .resulttable td:nth-child(2) h6 {
      font-size: 1.6rem; }
      .searchResultlist .resulttable td:nth-child(2) h6 a:link {
        text-decoration: underline;
        padding-bottom: 10px;
        color: #f4511e; }
      .searchResultlist .resulttable td:nth-child(2) h6 a:hover {
        color: #dd2c00; }
      .searchResultlist .resulttable td:nth-child(2) h6 a:focus {
        padding: 3px;
        border: 1px solid #dd2c00; }
  .searchResultlist .resulttable td:nth-child(3) {
    width: 25%; }
  .searchResultlist .resulttable td:nth-child(4) {
    width: 20%; }
  .searchResultlist .resulttable img {
    max-width: 110px;
    height: auto; }
  .searchResultlist .resulttable i {
    color: #f4511e;
    border: #000000; }

/*------------ Recipe rating    ----------------*/
.addeditRecipeRating {
  border-top: 1px solid #222;
  padding-top: 20px;
  border-bottom: 1px solid #CCC; }
  .addeditRecipeRating textarea {
    height: 5rem; }
  .addeditRecipeRating .star-rating {
    display: inline;
    color: #0D47A1; }
    .addeditRecipeRating .star-rating i {
      padding-left: 15px; }

.range-field label {
  padding: 5px;
  font-size: 1.3rem; }

.range-field .thumb {
  margin-left: 15px !important;
  padding: 1px 10px 3px 10px;
  border: 1px solid #d84315;
  border-radius: 50%;
  color: #d84315;
  font-size: 1.3rem; }

.range-field span {
  background: #0D47A1;
  font-size: 1.5rem;
  border-radius: 50%;
  background: #333; }

.range-field .icon-rating {
  padding: 12px; }

/*-----------Footer styles ---------------------------*/
footer {
  width: 100%;
  bottom: 0; }
  footer.row {
    margin-bottom: 0; }
  footer.page-footer {
    background-color: #424242; }
    footer.page-footer p {
      font-size: 1rem;
      line-height: 1rem; }
    footer.page-footer a:hover {
      color: #a33; }
  footer.footer-copyright {
    background-color: #07285a; }
