body {
  background: lightcyan;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; }

.clear {
  clear: both; }

.userForm input.ng-invalid.ng-touched {
  background-color: #ffcdd2; }

.userForm input.ng-valid.ng-touched {
  background-color: #78FA89; }

.searchResultlist {
  background-color: #B94A48; }

.menu {
  background-color: #8a6343; }

.listRecipeRatings {
  background-color: chartreuse; }

.header-nav {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.05rem; }
  .header-nav span {
    padding-left: 0.5rem; }

.outer-wrapper {
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.fb-layout {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: #FFFFFF; }

input {
  padding: 7px;
  border: solid 1px #dcdcdc;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
          transition: box-shadow 0.3s, border 0.3s;
  float: right; }

input:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696; }

.login-card-square.mdl-card {
  width: 320px;
  height: 340px;
  margin-right: 60px;
  margin-bottom: 60px;
  padding: 1rem; }
  .login-card-square.mdl-card li {
    list-style-type: none;
    padding-bottom: 22px; }
  .login-card-square.mdl-card .formfeedback {
    color: #a33;
    font-style: italic;
    border-radius: 3px;
    border: 1px solid #333;
    padding: 3px;
    margin-top: 10px; }

.loginForm {
  padding: 7px; }

/* ---------------------Search -----*/
.searchForm {
  padding-top: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .searchForm input {
    padding: 7px; }

#recipeSearchInput {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.searchoptions {
  border-top: 1px solid #ff4081; }

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  margin-right: 20px; }

button {
  margin: 0.25rem; }

/*details*/
.img-detail {
  min-height: 300px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat; }

.fb-layout-detail {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }

/*------------ Recipe detail - edit -------------------*/
.editRecipe select {
  padding: 4px; }

.editRecipe textarea {
  border: 1px solid #DDDDDD; }

.editRecipe textarea:focus {
  border: 1px solid #ff4081; }

.img-menu {
  max-width: 400px;
  height: auto; }

.img-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .img-buttons button {
    margin-right: 16px; }

.ingredient-count {
  max-width: 100px; }

.ingredient-kind {
  max-width: 90%; }
