<div class="searchRecipe">
    <div class="container">
        <div class="row title-bg">
            <div class="col s12 l12">
                <h3 class="" translate="SEARCH_TITLE">Rezepte auswählen</h3>
                <span translate="SEARCH_SUBTITLE">Suchen und auswählen</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12 card" id="searchbox">
            <div class="col s6 l6">
                <h4 class="left" translate="SEARCH_FORM_TITLE">Rezeptsuche</h4>
                <br/>
                <fb-search-form recipe-filter="searchRecipeCtrl.recipeFilter"></fb-search-form>
                <br/>
            </div>
            <div class="col s4 l4">
                <!-- Switch Search options-->
                <h4 translate="SEARCH_OPTIONS">Suchoptionen</h4>

                <div class="switch">
                    <label>
                        {{ 'SEARCH_EXPAND_1' | translate }}
                        <input type="checkbox"
                               ng-model="searchRecipeCtrl.recipeFilter.showSearchOptions">
                        <span class="lever"></span>
                        {{ 'SEARCH_EXPAND_2' | translate }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!--more search options-->
    <div class="row">
        <div class="col s4" ng-show="searchRecipeCtrl.recipeFilter.showSearchOptions">
            <div class="card foodcategory searchplus clearfix">
                <h5 translate="SEARCH_CATEGORY">Kategorie auswählen</h5>
                <ul class="left">
                    <li>
                        <input type="checkbox" class="filled-in" id="vorspeise"
                               ng-model="searchRecipeCtrl.recipeFilter.vorspeise">
                        <label for="vorspeise" translate="CATEGORY_APPETIZER">Vorspeise</label>
                    </li>
                    <li>
                        <input type="checkbox" class="filled-in" id="hauptspeise"
                               ng-model="searchRecipeCtrl.recipeFilter.hauptspeise">
                        <label for="hauptspeise" translate="CATEGORY_MAIN">Hauptspeise</label>
                    </li>
                    <li>
                        <input type="checkbox" class="filled-in" id="dessert"
                               ng-model="searchRecipeCtrl.recipeFilter.dessert">
                        <label for="dessert" translate="CATEGORY_DESSERT">Dessert</label>
                    </li>
                    <li>
                        <input type="checkbox" class="filled-in" id="snack"
                               ng-model="searchRecipeCtrl.recipeFilter.snack">
                        <label for="snack" translate="CATEGORY_SNACK">Snack</label>
                    </li>
                </ul>
            </div>
        </div>
        <!--Rating options-->
        <div class="col s4" ng-show="searchRecipeCtrl.recipeFilter.showSearchOptions">
            <div class="card searchplus">
                <h5 translate="SEARCH_RATING_TITLE">Bewertung</h5>
                <br/>

                <p translate="SEARCH_RATING_TEXT">suchen Sie nach Bewertung</p>
                <br/>

                <div class="range-field">
                    <label>1 </label>
                    <input type="range" id="" min="1" max="5" style="width: 70%;"
                           ng-model="searchRecipeCtrl.recipeFilter.rating"/>
                    <label>5 </label>
                </div>
            </div>
        </div>
        <!--preparing options-->
        <div class="col s4" ng-show="searchRecipeCtrl.recipeFilter.showSearchOptions">
            <div class="card searchplus">
                <h5 translate="SEARCH_PREP_TIME_TITLE">Zubereitungszeit</h5>
                <!--<label>Zeit</label>-->
                <select class="browser-default" ng-model="searchRecipeCtrl.recipeFilter.backzeit">
                    <option value="10" translate="SEARCH_PREP_TIME_OPT_1">10 - 20 min</option>
                    <option value="20" translate="SEARCH_PREP_TIME_OPT_2">20 - 30 min</option>
                    <option value="30" translate="SEARCH_PREP_TIME_OPT_3">30 - 40 min</option>
                    <option value="40" translate="SEARCH_PREP_TIME_OPT_4">40 - 50 min</option>
                    <option value="50" translate="SEARCH_PREP_TIME_OPT_5">1h und mehr</option>
                </select>
            </div>
        </div>
    </div>
    <!--Search resultlist -->
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-title text-black">
                    <h3 class="orange-text" translate="SEARCH_RESULT_TITLE">Ergebnisse</h3>
                </div>

                <fb-search-resultlist recipes="searchRecipeCtrl.recipes"
                                      recipe-filter="searchRecipeCtrl.recipeFilter"></fb-search-resultlist>
            </div>
        </div>
    </div>
    <!--teasers-->
    <div class="row">
        <div class="col s4">
            <div class="card  deep-orange-text lighten-3">
                <div class="card-title deep-orange-text" translate="TEASER_TITLE_NEW">Dein Rezept</div>
                <br/>
                <div class="card-image">
                    <img src="pictures/food2_400.jpg">
                </div>
                <div class="card-content">
                    <p translate="TEASER_TITLE_NEW_TEXT">Registrierte Benutzer können ihre eigenen Rezepte erfassen</p>
                    <p> Try out!</p>
                </div>
                <div class="card-action">
                    <a class="btn deep-orange white-text" href="#/addRecipe" translate="BUTTON_CREATE">erfassen</a>
                </div>
            </div>
        </div>
        <fb-recipe-teaser type="0" recipes="searchRecipeCtrl.recipes"></fb-recipe-teaser>
        <fb-recipe-teaser type="1" recipes="searchRecipeCtrl.recipes"></fb-recipe-teaser>
    </div>
</div>
