<div class="row">
    <div class="col  m2">
        &nbsp;
    </div>
    <div class="col s4 m4">
        <div class="card white darken-4">
            <div class="card-content">
                <fb-login-form></fb-login-form>
            </div>
        </div>
    </div>
    <div class="col s4 m4 ">
        <div class="card white darken-4">
            <div class="card-content">
                <fb-register-form></fb-register-form>
            </div>
        </div>
    </div>
    <div class="col m2">
        &nbsp;
    </div>
</div>
