<main class="mdl-layout__content fb-layout">
    <div class="page-content mdl-grid ">
        <div class="mdl-card mdl-shadow--4dp login-card-square">
            <h4>Login</h4>
            <fb-login-form></fb-login-form>
        </div>
        <div class="mdl-card mdl-shadow--4dp login-card-square">
            <h4>Registrieren</h4>
            <fb-register-form></fb-register-form>
        </div>
        <div class="mdl-card mdl-shadow--4dp login-card-square">
            <div ng-hide="sessionCtrl.isLoggedIn()">
                <h4>Gast Besucher</h4>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                   href="#/searchRecipe">Besucher</a>
            </div>
        </div>
    </div>
</main>


