<div class="row">
    <div class="col s2">
        &nbsp;
    </div>
    <div class="col s4">
        <div class="card white darken-4">
            <div class="card-content">
                <!--<div class="card-title">Login</div>-->
                <fb-login-form></fb-login-form>

                <!--<div class="card-action">-->
                    <!--<a href="#/searchRecipe" class="btn btn-flat">Gastbesucher</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card white darken-4">
            <div class="card-content">
                <!--<div class="card-title">Registrieren</div>-->
                <fb-register-form></fb-register-form>
            </div>
        </div>
    </div>
    <div class="col s2">
        &nbsp;
    </div>
</div>
