<!--start view  single recipe-->
<div class="viewrecipe">
    <div class="container">
        <!--big title-->
        <div class="row title-bg">
            <div class="col s12 l12">
                <h3 class="" translate="VIEW_RECIPE_TITLE">Rezepte <i class="small material-icons prefix">receipt</i></h3>
                <span translate="VIEW_RECIPE_SUBTITLE">lesen und Kochen</span>

                <div class="right">
                    <div ng-controller="SessionController as sessionCtrl">
                        <a class="btn btn-flat orange white-text left"
                           href="#/editRecipe/{{viewRecipeCtrl.recipe._id}}"
                           ng-show="sessionCtrl.isLoggedIn(viewRecipeCtrl.recipe.userId)" translate="VIEW_RECIPE_BTN_EDIT">Dieses Rezept bearbeiten</a>

                        <button class="btn btn-flat white red-text right margin-left" type="button"
                                ng-show="sessionCtrl.isLoggedIn(viewRecipeCtrl.recipe.userId)"
                                ng-click="viewRecipeCtrl.deleteRecipe()" translate="VIEW_RECIPE_BTN_DELETE">Dieses Rezept löschen
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--content header-->
        <div class="row card">
            <div class="col s6 l6 recipe-header">
                <h4>{{viewRecipeCtrl.recipe.title}}</h4>
            </div>
            <div class="col s6 l6 ">
                <h5 translate="VIEW_RECIPE_DESCRIPTION">Beschreibung</h5>

                <p class="flow-text text-accent-1">{{viewRecipeCtrl.recipe.description}}</p>
            </div>
        </div>

        <!--content image and data-->
        <div class="row">
            <div class="col s12 l6">
                <div class="swiper-container z-depth-2 fb-init-swiper" fb-init-swiper>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="image in viewRecipeCtrl.recipe.images">
                            <img ng-src="{{image.src}}" class="recipe-img-slider"/>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next "></div>
                </div>
            </div>
            <!--recipe data-->
            <div class="col s12 l6">
                <div class="card z-depth-2">
                    <div class="card-title blue white-text">
                        <span translate="VIEW_RECIPE_DATAS">Rezeptdaten</span>
                    </div>
                    <div class="card-content">
                        <p><strong translate="VIEW_RECIPE_DATA_1">Rezept:</strong> {{viewRecipeCtrl.recipe.title}}<br/></p>

                        <p><strong translate="VIEW_RECIPE_DATA_2">Author:</strong> {{viewRecipeCtrl.recipe.userName}}<br/></p>

                        <p><strong translate="VIEW_RECIPE_DATA_3">Anzahl Personen:</strong> {{viewRecipeCtrl.recipe.numPerson}}<br/></p>

                        <p><strong translate="VIEW_RECIPE_DATA_4">Backzeit:</strong> {{viewRecipeCtrl.recipe.bakingTime | minutesToHoursMinutes}}<br/>
                        </p>

                        <p><strong translate="VIEW_RECIPE_DATA_5">Vorbereitungszeit:</strong> {{viewRecipeCtrl.recipe.preparationTime |
                            minutesToHoursMinutes}}<br/></p>
                    </div>
                </div>
                <div class="card z-depth-2">
                    <div class="card-title green white-text">
                        <span translate="VIEW_RECIPE_PREP_TITLE">Vorbereitung: Zutaten</span>
                    </div>
                    <div class="card-content">
                        <div ng-repeat="ingredient in viewRecipeCtrl.recipe.ingredients">
                            <p><strong>{{ingredient.name}}:</strong>&nbsp;
                                {{ingredient.denomination}}&nbsp;{{ingredient.unit}}<br/></p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-2">
                    <div class="card-title deep-orange white-text">
                        <span translate="VIEW_RECIPE_PREP_SBS">Zubereitung Schritt für Schritt</span>
                    </div>
                    <div class="card-content">
                        <div ng-repeat="preparationStep in viewRecipeCtrl.recipe.preparationSteps">
                            <p><strong>{{'VIEW_RECIPE_PREP_STEP' | translate}}{{preparationStep.position}}:</strong> {{preparationStep.text}}<br/></p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <fb-list-recipe-ratings recipe="viewRecipeCtrl.recipe"
                                        ratings="viewRecipeCtrl.ratings"></fb-list-recipe-ratings>
            </div>
        </div>
    </div>
</div>
<!--Finish view recipe-->