<!DOCTYPE html>
<html lang="de" ng-app="fb-app">
<head>
    <meta charset="UTF-8">
    <title>fetty bossy search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="material-design-lite/material.css" />
    <script src="material-design-lite/material.min.js"></script>
    <script src="angular/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="js/fb-controller.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="styles/style-f.css" />
    <style>
        .layout-transparent {
            background: url('pix/kafi.jpg') center / cover;
        }

    </style>

</head>
<body ng-controller="showController">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Fetty Bossy DB</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Login</a>
                <a class="mdl-navigation__link" href="">Search</a>
                <a class="mdl-navigation__link" href="">Add-Menu</a>
                <a class="mdl-navigation__link" href="">User</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Fetty Bossy DB</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Login</a>
            <a class="mdl-navigation__link" href="">Search</a>
            <a class="mdl-navigation__link" href="">Add-Menu</a>
            <a class="mdl-navigation__link" href="">User</a>
        </nav>
    </div>
    <main class="mdl-layout__content fb-layout">
        <div class="page-content  ">
            <div class="mdl-grid">
                <div class="mdl-cell--6-col">
                    <h2>Rezeptsuche</h2>
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1" />
                            <label class="mdl-textfield__label" for="sample1">ich mag heute...</label>
                        </div>
                        <div>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" >Go!</button>
                        </div>
                    </form>
                    <br />
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                        <input type="checkbox" id="switch-1" class="mdl-switch__input"   ng-model="showSearchOptions"/>
                        <span class="mdl-switch__label"  >Mehr Suchoptionen</span>
                    </label>
                    <button ng-click="showSearchOptions = !showSearchOptions" class="mdl-button mdl-button--colored">show more options</button>

                </div>
                <div class="mdl-cell--6-col">
                    <h3>Kategorie</h3>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Suppe</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect ">Dessert</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Hautpspeise</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Grünzeug</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Fleischzeug</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Salate</button>
                </div>
            </div>
            <div class="mdl-grid" ng-show="showSearchOptions">
                <div class="mdl-cell--4-col" >
                    <h3>Kategorie</h3>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Suppe</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect ">Dessert</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Hautpspeise</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Grünzeug</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Fleischzeug</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Salate</button>
                </div>
                <div class="mdl-cell--4-col">
                    <h3>Bewertung</h3>
                    <br />
                    <input class="mdl-slider mdl-js-slider" min="1" max="5" type="range">
                    <span>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                   </span>
                </div>
                <div class="mdl-cell--4-col">
                    <h3>Kochzeit</h3>
                    <select>
                        <option>10 -20 min</option>
                        <option>20 -30 min</option>
                        <option>30 -40 min</option>
                        <option>40 -50 min</option>
                        <option>60 + min</option>
                    </select>
                </div>
            </div>
            <div id="overview">
                <div class="mdl-grid">
                    <div class="mdl-card mdl-shadow--2dp demo-card-square">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text">Rezept 1 Titel</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Rehpfeffer mit Sauce und Gulasch vom Rind mit viel Beilage</p>
                            <br>
                             <span>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star_half</i>
                             </span>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Rezept ansehen
                            </a>
                        </div>
                    </div>

                    <!--second recepte-->
                    <div class="mdl-card mdl-shadow--2dp demo-card-square">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text">Rezept 1 Titel</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Rehpfeffer mit Sauce und Gulasch vom Rind mit viel Beilage</p>
                            <br>
                                 <span>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                 </span>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Rezept ansehen
                            </a>
                        </div>
                    </div>
                    <!--third recepte-->
                    <div class="mdl-card mdl-shadow--2dp demo-card-square">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text">Rezept 1 Titel</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Rehpfeffer mit Sauce und Gulasch vom Rind mit viel Beilage</p>
                            <br>
                                 <span>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                 </span>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Rezept ansehen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
            <div class="mdl-logo">Projekt CAS FEE 2</div>
            <ul class="mdl-mini-footer--link-list">
                <li><a href="#">Hilfe</a></li>
                <li><a href="#">Info über Fetty Bossy</a></li>
            </ul>
        </div>
    </footer>
</div>

</body>
</html>