<div class="addeditRecipeRating">
    <div class="row">
        <div class="col s12 l6">
            <h4 translate="ADD_EDIT_RATING_TITLE">Bewerten Sie dieses Rezept</h4>

            <p translate="ADD_EDIT_RATING_SUBTITLE">in Sternen <i class="material-icons">star</i></p>

            <p class="range-field">
                <div class="icon-rating left">
                    <i class="material-icons deep-orange-text">star</i>
                </div>
                <input type="range" id="" min="1" max="5" style="max-width: 70%;" ng-model="rating.stars"/>

                <div class="icon-rating right">
                    <i class="material-icons deep-orange-text">star</i>
                    <i class="material-icons deep-orange-text">star</i>
                    <i class="material-icons deep-orange-text">star</i>
                    <i class="material-icons deep-orange-text">star</i>
                    <i class="material-icons deep-orange-text">star</i>
                </div>
            </p>

        </div>
        <div class="col s12 l6">
            <h5 translate="ADD_EDIT_RATING_COMMENT">Ihr Kommentar</h5>

            <div class="input-field">
                <textarea id="comment" ng-model="rating.comment"></textarea>
                <label for="comment" translate="ADD_EDIT_RATING_COMMENT_LABEL">Kommentar</label>
            </div>
            <button class="btn blue right" type="button"
                    ng-click="addeditRecipeRatingCtrl.save()" translate="ADD_EDIT_RATING_BTN_SAVE">Rating Speichern
            </button>
        </div>
    </div>
</div>