<div class="card-title blue-text">Login</div>
    <form id="loginForm" name="loginForm"
          class="userForm"
          ng-submit="sessionCtrl.login(user)">
          <div class="input-field">
             <input type="text" id="loginName" name="loginName"
                    ng-model="user.name" required/>
             <label for="loginName">Name</label>
          </div>
          <div class="input-field">
              <input type="password" id="loginPassword" name="loginPassword"
                     ng-model="user.password" required/>
              <label for="loginPassword">Passwort</label>
          </div>
          <div class="card-reveal">
              <div ng-show="loginForm.$submitted || registerForm.loginName.$dirty || sessionCtrl.loginError">
                  <div ng-show="registerForm.loginName.$error.required">Dein Name ist ein Pflichtfeld</div>
                  <div ng-show="sessionCtrl.loginError.nameMessage">{{sessionCtrl.loginError.nameMessage}}</div>
              </div>
              <div ng-show="loginForm.$submitted || loginForm.loginPassword.$dirty || sessionCtrl.loginError">
                  <div ng-show="loginForm.loginPassword.$error.required">Ein Password ist notwendig</div>
                  <div ng-show="sessionCtrl.loginError.passwordMessage">{{sessionCtrl.loginError.passwordMessage}}</div>
              </div>
              <div ng-show="sessionCtrl.loginError">
                  <div>{{sessionCtrl.loginError.message}}</div>
              </div>
          </div>
          <div class="card-action">
              <div class="row">
                  <div class="col s6">
                      <!--login user-->
                      <button type="submit"
                              ng-disabled="loginForm.$invalid"
                              class="btn light-blue white-text waves-effect waves-light left">Login
                      </button>
                  </div>
                  <div class="col s6">
                      <!--login guest-->
                      <a href="#/searchRecipe" class="btn white text-accent-1 blue-text waves-effect  right">Gast -Login</a>
                  </div>
              </div>

          </div>
    </form>