<div class="user-details">
    <div class="row">
        <div class="col l4">
            <h3>Mein Account</h3>
            <h4>Bewertungen zu deinen Rezepten</h4>
        </div>
        <div class="col m12 l8">
            <h3>User Login Details</h3>
            <table>
                <tr>
                    <td>User-ID:</td>
                    <td>{{user._id}}</td>
                    <td><i class="medium material-icons prefix">perm_identity</i></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td class="input-field">
                        <input type="text" ng-model="user.name" readonly/>
                    </td>
                    <td><i class="medium material-icons prefix">perm_identity</i></td>
                </tr>
                <tr>
                    <td>e-Mail:</td>
                    <td class="input-field">
                        <input type="email" class="validate" ng-model="user.email">
                    </td>
                    <td><i class="medium material-icons prefix">perm_identity</i></td>
                </tr>
                <tr>
                    <td>Passwort:</td>
                    <td class="input-field">
                        <input type="password" class="validate" ng-model="user.password"/>
                    </td>
                    <td><i class="medium material-icons prefix">perm_identity</i></td>
                </tr>
                <tr>
                    <td>
                        <button class="btn blue"
                                type="button"
                                ng-click="save()">Speichern
                        </button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>