<div class="col s12 l4">
    <h3 translate="USER_LOGIN_DETAILS_TITLE">User Login Details</h3>
    <table>
        <tr>
            <td translate="USERDETAIL_NAME">Name: <br/>(kann nicht geändert werden)</td>
            <td><i class="small material-icons prefix">done</i></td>
            <td class="input-field">
                <input type="text" ng-model="user.name" class="readonly" readonly/>
            </td>
        </tr>
        <tr>
            <td translate="EMAIL">E-Mail:</td>
            <td><i class="small material-icons prefix">email</i></td>
            <td class="input-field ">
                <input type="email" class="validate editable" ng-model="user.email">
            </td>
        </tr>
        <tr>
            <td translate="PASSWORD">Passwort:</td>
            <td><i class="small material-icons prefix">fingerprint</i></td>
            <td class="input-field">
                <input type="password" class="validate editable" ng-model="passwordNew"/>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn blue"
                        type="button"
                        ng-click="save()" translate="BUTTON_SAVE">Speichern
                </button>
            </td>
        </tr>
    </table>
</div>